In [350]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
from googleapiclient.discovery import build

In [351]:
# api = 'AIzaSyAWpXuA6tefdCr1D0youe-JGjOEQvPV8no'
# vid_id = '1qDL8bPuj_I'

# youtube = build('youtube','v3',developerKey=api)

# def scrape(video_ID):
#     comment = []
#     next_page_token = None
    
#     while True:
#         request = youtube.commentThreads().list(
#             part='snippet',
#             videoId=video_ID,
#             maxResults=100,
#             pageToken=next_page_token,
#             textFormat='plainText'
#         )
        
#         response = request.execute()
        
#         for item in response['items']:
#             top_comment = item['snippet']['topLevelComment']['snippet']
#             comment_text = top_comment['textDisplay']
#             author = top_comment['authorDisplayName']
#             published_at = top_comment['publishedAt']
#             like_count = top_comment['likeCount']
#             comment.append({
#                 'author': author,
#                 'comment': comment_text,
#                 'published_at': published_at,
#                 'like_count': like_count
#             })
            
#         next_page_token = response.get('nextPageToken')
#         if not next_page_token:
#             break
        
#     return comment

# comment = scrape(vid_id)

In [352]:
# df = pd.DataFrame(comment)
# df.to_csv('scraping4122025.csv',index=False,encoding='utf-8')

In [375]:
df = pd.read_csv('scraping4122025.csv')
df.head()

,author,comment,published_at,sentiment
0,ferryirwandi,hallowargasipilsekalianselamatmenonton,2024-10-10 09:02:59,0
1,udinaja5394,prestasimenteripendidikanLGBTalabarat,2025-04-11 22:47:18,0
2,anisafiqriyah8612,SemogaMentriPendidikanperiodeinibisamengubahsi...,2025-04-10 06:09:05,0
3,MuhammadAmin-yt8sd,Jgnngerokokbosminimaldivideonggakeliatanmeskip...,2025-04-09 15:59:13,0
4,faridfarid-kv2il,Genproduknadiem,2025-04-09 01:56:26,0

In [354]:
df['comment'] = df['comment'].str.replace(' ','',)

In [355]:
df['author'] = df['author'].str.replace('@','',regex=False)
df['published_at'] = df['published_at'].str.replace('T',' ',regex=True)
df.head()

,author,comment,published_at,sentiment
0,ferryirwandi,hallowargasipilsekalianselamatmenonton,2024-10-10 09:02:59,0
1,udinaja5394,prestasimenteripendidikanLGBTalabarat,2025-04-11 22:47:18,0
2,anisafiqriyah8612,SemogaMentriPendidikanperiodeinibisamengubahsi...,2025-04-10 06:09:05,0
3,MuhammadAmin-yt8sd,Jgnngerokokbosminimaldivideonggakeliatanmeskip...,2025-04-09 15:59:13,0
4,faridfarid-kv2il,Genproduknadiem,2025-04-09 01:56:26,0

In [356]:
df['published_at'] = df['published_at'].str.replace('Z','')
df['published_at'] = pd.to_datetime(df['published_at'], format='%Y-%m-%d %H:%M:%S')

In [357]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12098 entries, 0 to 12097
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   author        12098 non-null  object
 1   comment       12098 non-null  object
 2   published_at  12098 non-null  datetime64[ns]
 3   sentiment     12098 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 378.2+ KB

In [358]:
df[df['author'].isna()]

Empty DataFrame
Columns: [author, comment, published_at, sentiment]
Index: []

In [359]:
df.head()

,author,comment,published_at,sentiment
0,ferryirwandi,hallowargasipilsekalianselamatmenonton,2024-10-10 09:02:59,0
1,udinaja5394,prestasimenteripendidikanLGBTalabarat,2025-04-11 22:47:18,0
2,anisafiqriyah8612,SemogaMentriPendidikanperiodeinibisamengubahsi...,2025-04-10 06:09:05,0
3,MuhammadAmin-yt8sd,Jgnngerokokbosminimaldivideonggakeliatanmeskip...,2025-04-09 15:59:13,0
4,faridfarid-kv2il,Genproduknadiem,2025-04-09 01:56:26,0

In [360]:
# df['comment'] = df['comment'].str.findall(r'([a-zA-Z]+)')

In [361]:
# df.head()

In [362]:
df.dropna(inplace=True)

In [363]:
type(df['comment'][0])

str

In [364]:
from textblob import TextBlob

def get_sentiment(raw):
    # print(type(raw))
    # text = ' '.join(raw)
    polarity = TextBlob(raw).sentiment.polarity  # Ambil nilai polaritas
    if polarity > 0:
        return 1
    elif polarity == 0:
        return 0
    else:
        return -1
    
df['sentiment'] = df['comment'].apply(get_sentiment)

In [365]:
# df['comment'] =  df['comment'].apply(lambda x: ' '.join(x))

In [366]:
df['comment'][0]

'hallowargasipilsekalianselamatmenonton'

In [367]:
df.head()

,author,comment,published_at,sentiment
0,ferryirwandi,hallowargasipilsekalianselamatmenonton,2024-10-10 09:02:59,0
1,udinaja5394,prestasimenteripendidikanLGBTalabarat,2025-04-11 22:47:18,0
2,anisafiqriyah8612,SemogaMentriPendidikanperiodeinibisamengubahsi...,2025-04-10 06:09:05,0
3,MuhammadAmin-yt8sd,Jgnngerokokbosminimaldivideonggakeliatanmeskip...,2025-04-09 15:59:13,0
4,faridfarid-kv2il,Genproduknadiem,2025-04-09 01:56:26,0

In [368]:
df.to_csv('scraping4122025.csv',index=False,encoding='utf-8')

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12098 entries, 0 to 12097
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   author        12098 non-null  object
 1   comment       12098 non-null  object
 2   published_at  12098 non-null  datetime64[ns]
 3   sentiment     12098 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 378.2+ KB

In [370]:
df_backup = df.copy(deep=True)

# Preprocessing

In [371]:
df.dropna(inplace=True)

In [372]:
df.head()

,author,comment,published_at,sentiment
0,ferryirwandi,hallowargasipilsekalianselamatmenonton,2024-10-10 09:02:59,0
1,udinaja5394,prestasimenteripendidikanLGBTalabarat,2025-04-11 22:47:18,0
2,anisafiqriyah8612,SemogaMentriPendidikanperiodeinibisamengubahsi...,2025-04-10 06:09:05,0
3,MuhammadAmin-yt8sd,Jgnngerokokbosminimaldivideonggakeliatanmeskip...,2025-04-09 15:59:13,0
4,faridfarid-kv2il,Genproduknadiem,2025-04-09 01:56:26,0

In [373]:
df['sentiment'].value_counts()

sentiment
 0    12094
 1        3
-1        1
Name: count, dtype: int64

In [374]:
minor = df[df['sentiment'] == -1]
mayor = df[df['sentiment'] == 0]
mid = df[df['sentiment'] == 1]
midsize = len(mid)

mayor_sampled = mayor.sample(midsize,random_state=42)
minor_sampled = minor.sample(midsize,random_state=42)
dfs = pd.concat([mayor_sampled,minor_sampled,mid])
df = dfs.sample(frac=1, random_state=42).reset_index(drop=True)
df.head()

ValueError: Cannot take a larger sample than population when 'replace=False'